*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.header{
    text-align: center;
    margin: 50px;
    h1 {
            font-weight: 900;
            padding: 20px;
        }
    p{
        opacity: 0.8;
        color: #000;
    }
}
.image{
    display: flex;
    gap: 20px;
    margin: 50px 100px;
    .image-cards{
        .card-content{
            padding:20px 0;
            p{
                padding: 5px 0;
                opacity: 0.8;
            }
        }
    }
}